<!DOCTYPE html>
<html>
<head>
    <title>Prediksi Asma</title>
</head>
<body>
    <h2>Form Prediksi Asma</h2>
    <form action="/predict-form" method="post">
        <label>Age:</label><input type="number" name="Age"><br>
        <label>Gender (0=Perempuan,1=Laki):</label><input type="number" name="Gender"><br>
        <label>BMI:</label><input type="number" step="0.1" name="BMI"><br>
        <label>Smoking (0/1):</label><input type="number" name="Smoking"><br>
        <label>Physical Activity:</label><input type="number" name="Physical_Activity"><br>
        <label>Sleep Quality:</label><input type="number" name="Sleep_Quality"><br>
        <label>Pollution Exposure:</label><input type="number" name="Pollution_Exposure"><br>
        <label>Dust Exposure:</label><input type="number" name="Dust_Exposure"><br>
        <label>Family History Asthma (0/1):</label><input type="number" name="Family_History_Asthma"><br>
        <label>History of Allergies (0/1):</label><input type="number" name="History_of_Allergies"><br>
        <label>Gastroesophageal Reflux (0/1):</label><input type="number" name="Gastroesophageal_Reflux"><br>
        <label>Lung Function FEV1:</label><input type="number" name="Lung_Function_FEV1"><br>
        <label>Lung Function FVC:</label><input type="number" name="Lung_Function_FVC"><br>
        <label>Wheezing (0/1):</label><input type="number" name="Wheezing"><br>
        <label>Shortness of Breath (0/1):</label><input type="number" name="Shortness_of_Breath"><br>
        <label>Chest Tightness (0/1):</label><input type="number" name="Chest_Tightness"><br>
        <label>Coughing (0/1):</label><input type="number" name="Coughing"><br>
        <label>Nighttime Symptoms (0/1):</label><input type="number" name="Nighttime_Symptoms"><br>
        <label>Exercise Induced (0/1):</label><input type="number" name="Exercise_Induced"><br><br>
        <button type="submit">Prediksi</button>
    </form>
</body>
</html>
